.shop-container{
    display: grid;
    grid-template-columns: 4fr 0.8fr;
    grid-gap: 50px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 70%;
    margin: auto;
    padding: 120px;

}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
    padding: 28px;
}
.cart-container h4{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.cart-container h5{
    padding-top: 10px;
    padding-bottom: 10px;
}
.clear{
    padding: 13px 54px;
    background-color:#FF3030 !important;
    color: white;
}
.review{
    padding: 10px 40px;
    background-color:#FF9900 !important;
    color: white;
}
.cart-container button{
margin: 15px;
}






@media screen and (max-width: 1440px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}